body{
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
     margin: 0;
     font-family:tagesschrift ;
    text-align: center;
    margin-top: 80px;
}
.tagesschrift-regular {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}
#board{
     height: 532px;
    width: 495px;
    margin: 0 auto;
    gap: 15px;
   display: grid;
   grid-template-columns: repeat(5,1fr);
    background-color:transparent;
  }
.card{
    height: 125px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
h2{
    color: rgb(104, 23, 181);
    font-size: 62px;
    margin: 0;
   }
   .scoreb{
    background: rgba(4, 212, 236, 0.2);
    border-radius: 4px;
    padding: 2px;
    display: inline-block;
    border: 2px solid rgb(91, 24, 168);
    margin-bottom: 10px;
   }