body{
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
     margin: 0;
     font-family:tagesschrift ;
    text-align: center;
}
.tagesschrift-regular {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}
#board{
    height: 532px;
    width: 495px;
    margin: 0 auto;
    gap: 15px;
   display: grid;
   grid-template-columns: repeat(5,1fr);
    background-color:transparent;
  }
.card{
    height: 125px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
h2{
    color: rgb(104, 23, 181);
    font-size: 62px;
   }